In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [3]:
# Server Connection
def create_server_connection(host_name,user_name,user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
        host = host_name,
        user = user_name,
        passwd= user_password)
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection 
# Password and Database name
pw = "Rutra123@"
db = "mysql_python"
connection = create_server_connection("localhost","root",pw)

MySQL Database connection successful

In [ ]:
db = "new_schema"

In [9]:
# Create DB mysql_python
def create_database(connection,query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database create successfully")
    except Error as err:
        print(f"Error: '{err}'")
create_database_query = "Create Database mysql_python"
create_database(connection,create_database_query)

Error: '1007 (HY000): Can't create database 'mysql_python'; database exists'

In [10]:
# Connect to Database
def create_db_connection(host_name,user_name,user_password,db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password,
            database = db_name)
        print("MySQL database connection successfull")
    except Error as err:
        print(f"Error:'{err}'")
    return connection

In [11]:
# Execute SQL queries
def execute_query(connection,query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query was successful")
    except Error as err:
        print(f"Error: '{err}'")

In [16]:
# Create table
create_orders_table = """
create table orders(
order_id int primary key,
customer_name varchar(30) not null,
product_name varchar(20) not null,
date_ordered date,
quantity int,
unit_price float,
phone_number varchar(20));
"""
#Connection to database
connection = create_db_connection("localhost","root",pw,db)
execute_query(connection,create_orders_table)

MySQL database connection successfull
Error: '1050 (42S01): Table 'orders' already exists'

In [21]:
# Insert Data
data_orders = """
Insert into orders values 
(101,'Steve','Laptop','2018-06-12',2,800,'6293730802'),
(102,'a','b','2018-07-12',4,5,'6294770802')
"""
connection = create_db_connection("localhost","root",pw,db)
execute_query(connection, data_orders)

MySQL database connection successfull
Query was successful

In [22]:
# Read query for print here
def read_query(connection,query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [40]:
q1 = """
select * from orders;
"""
connection = create_db_connection("localhost","root",pw,db)
results = read_query(connection,q1)
for result in results:
    print(result)

MySQL database connection successfull
(102, 'a', 'b', datetime.date(2018, 7, 12), 4, 50.0, '6294770802')

In [25]:
q2 = """
select customer_name,phone_number from orders;
"""
connection = create_db_connection("localhost","root",pw,db)
results = read_query(connection,q2)
for result in results:
    print(result)

MySQL database connection successfull
('Steve', '6293730802')
('a', '6294770802')

In [41]:
#Create DataFrame
from_db = []
for result in results:
    result = list(result)
    from_db.append(result)
columns = ["order_id","customer_name","product_name","date_ordered", "quantity","unit_price","phone_number"]
df = pd.DataFrame(from_db,columns=columns)
display(df)

,order_id,customer_name,product_name,date_ordered,quantity,unit_price,phone_number
0,102,a,b,2018-07-12,4,50.0,6294770802

In [34]:
# Update Command
update = """
update orders 
set unit_price = 50
where order_id = 102
"""
connection = create_db_connection("localhost","root",pw,db)
execute_query(connection,update)

MySQL database connection successfull
Query was successful

In [39]:
# Delete Command
delete_order = """ 
delete from orders
where order_id = 101;
"""
connection = create_db_connection("localhost","root",pw,db)
execute_query(connection,delete_order)

MySQL database connection successfull
Query was successful